:root {
    --primary-color: #7065f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}

p {
    font-family: "Source Sans Pro", sans-serif;
    color: #757575;
}

ul {
    padding: 0;
}

button.disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.mt-70 {
    margin-top: 70px;
}

.shadow-bottom {
    box-shadow: 0 6px 6px rgba(0,0,0,.06);
}