* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}

p {
    font-family: "Source Sans Pro", sans-serif;
    color: #757575;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.mt-70 {
    margin-top: 70px;
}