#main {
    background-color: #fff;
}

.header {
    background-color: #fff;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
}

.header-logo {
    color: #7065F0;
    font-size: 24px;
}

.nav-content {
    justify-content: center !important;
}

.search-box {
    display: flex;
    gap: 10px;
}

.cart-main {
    background-color: #F8F8FC
}

.login-btn,
.cart-btn,
.search-btn {
    text-decoration: none;
    color: #000;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login-btn i {
    font-size: 18px;
    margin-top: 2px;
}

.cart__top button {
    border: none;
}

.cart-btn span {
    font-size: 24px;
}

.cart-dropdown {
    position: absolute;
    background-color: #fff;
    top: 50px;
    right: 0;
    padding: 16px;
    font-size: 0.813rem;
    line-height: 0.938rem;
    font-weight: 500;
    color: black;
    width: 330px;
    z-index: 100;
    cursor: default;
    transform: scale(0);
    transform-origin: 100% top;
    opacity: 0;
    transition: all 0.3s;
    box-shadow: 0 0 5px 1px #888888;
}

.cart-btn:hover .cart-dropdown {
    transform: scale(1);
    opacity: 1;
}

ul {
    padding: 0;
}

.cart__item-total {
    display: flex;
    justify-content: space-between;
    width: 44%;
}

.cart__item-price {
    color: #FE696A;
}

.cart__item-amount {
    color: #8992A5;
}

.cart-number {
    position: absolute;
    top: 19px;
    right: -5px;
    padding-top: 4px;
    background-color: #7065f0;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    font-weight: bold;
}

.cart__item {
    display: flex;
    border-bottom: 1px solid #bbb;
    overflow: hidden;
    padding: 4px 0;
}

.cart__item img {
    width: 70px;
    height: 70px;
    border-radius: 4px;
}

.cart__item-info {
    padding: 6px 0 6px 8px;
}

.cart__footer-total {
    display: flex;
    justify-content: space-between;
    font-size: 0.938rem;
}

.cart__footer-money {
    font-size: 1.063rem;
    font-weight: 500;
    color: #FE696A;
}

.cart__footer-text {
    color: #8992A5;
}

.cart__footer-tocart {
    font-size: 1rem;
    color: white;
    padding: 12px;
    margin-top: 16px;
    text-align: center;
    background-color: #807dff;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.cart__footer-tocart:hover {
    background-color: #7065f0;
}

/* CSS trang CART */

.cart__left,
.card__top-left {
    width: 60%;
    padding: 12px;
}

.cart__left-product li input {
    width: 80px;
}

.cart__left-product-name {
    width: 380px;
}

.cart__left-product-name img {
    width: 70px;
    height: 70px;
}

.cart__left-product-name span {
    align-self: center;
}

.cart__left-title {
    border-bottom: 1px solid #bbb;
    font-weight: 500;
}

.cart__right {
    height: auto;
}

.cart__right-pay button {
    border: none;
    background-color: #7065F0;
    color: white;
    padding: 4px;
    margin-top: 10px;
}

/* END CSS trang CART */

/* Modal */

.modal__inner {
    display: flex;
    margin-top: 40px;
}

/* END Modal */

.login-header {
    padding-bottom: 20px;
}

.login-header h1 {
    display: inline;
    font-weight: 500;
}

.login-header-logo-link {
    text-decoration: none;
}

.login-header-logo {
    color: #7065F0;
    margin-right: 12px;
    cursor: pointer;
}

.login-header-title {
    font-size: 22px;
}

.login-content {
    background-color: #f5f4ff;
    width: 100%;
}

.login-form {
    width: 400px;
}

.password-form {
    position: relative;
}

.showhide-pwd-icon {
    position: absolute;
    right: 10px;
    top: 55%;
}

.showhide-pwd-icon .open {
    display: inline-block;
}

.showhide-pwd-icon i {
    display: none;
    color: #8a8f94;
}

.btn-login {
    width: 100%;
}

.login-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn-fb-login {
    margin-right: 10px;
}

.signup-link,
.login-link {
    text-decoration: none;
    color: #7065F0;
}

.search-form {
    width: 45%;
    height: 40px;
    display: flex;
    justify-content: center;
}

.search-container {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 4px 40px rgba(0, 0, 0, .2);
    border-radius: 6px;
}

.search-input {
    width: 100%;
    color: #1b1b1b;
    background-color: #00000000;
    border: 0 #000;
    font-family: Epilogue, sans-serif;
    font-size: .875rem;
    padding: 6px 12px;
    outline: none;
}

.btn-search-box {
    margin-right: 4px;
}

.btn-search-label {
    height: 30px;
    padding: 6px 10px;
    background-color: #7065f0;
    color: #fff;
}

.btn-search-label:hover {
    background-color: #7065f0;
    color: #fff;
    opacity: 0.9;
}

.btn-search-label span {
    font-size: 18px;
}

.content {
    margin-top: 70px;
}

.content-banner {
    height: 100%;
}

.content-banner-image-box {
    width: 45%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes flowupdown {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

.content-banner-image {
    width: 100%;
    position: relative;
    overflow: hidden;
    animation: flowupdown 3s infinite ease-in-out -1s;
}

.content-banner-image-flow {
    position: absolute;
    bottom: 0;
    left: 0;
}

.content-banner-text {
    width: 60%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-banner-text img {
    width: 30%;
}

.content-banner-text p {
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 30px;
}

.content-banner-shop-link {
    margin-top: 50px;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    padding: 12px 16px;
}

.content-banner-shop-link:hover {
    color: #fff;
}

.content-product {
    margin-top: 80px;
}

.content-product-title {
    margin-bottom: 60px;
}

.content-product-title h2 {
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}

.content-product-title p {
    font-family: "Source Sans Pro", sans-serif;
    color: #757575;
}

.product-item {
    width: 100%;
    margin-bottom: 16px;
}

.product-item-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: #fff;
    border-radius: 1.25rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: box-shadow .3s;
    display: flex;
    position: relative;
    box-shadow: 0 4px 60px rgba(0, 0, 0, .1);
}

.product-image-wrapper {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.product-image {
    object-fit: cover;
    border-radius: 1rem;
}

.product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 1.75rem 1.75rem;
}

.product-price {
    grid-column-gap: 0.25rem;
    grid-row-gap: 0.375rem;
    letter-spacing: -.05em;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
}

.product-price-number {
    color: #7065f0;
    font-family: "Poppins", sans-serif;
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1em;
}

.product-name {
    grid-row-gap: 0.25rem;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0.875rem;
    margin-bottom: 1.25rem;
}

.product-name p {
    color: #1b1b1b;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Epilogue", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2em;
}

.product-detail {
    background: #f8f9fa;
    padding: 9px 10px 0;
    border-radius: 6px;
}

.product-detail-info {
    font-size: 14px;
    line-height: 19px;
    color: #6c757d;
    margin-bottom: 9px;
    position: relative;
    cursor: help;
}

.product-detail-info span {
    font-size: 20px;
    color: #b6bfc7;
    margin-right: 4px;
}

.content-showmore {
    text-align: center;
    margin: 32px 0;
}


.btn-showmore {
    text-decoration: none;
    background-color: #7065f0;
    color: #fff;
    letter-spacing: -.05rem;
    border-radius: 0.625rem;
    padding: 1.25rem 2.5rem;
    font-family: "Epilogue", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1em;
}

.btn-showmore:hover {
    background-color: #1b1b1b;
}

.content-features {
    margin-top: 70px;
    padding: 32px 0;
}

.feature-block {
    display: flex;
}

.feature-block span {
    color: #7065F0;
    font-size: 35px;
}

.feature-block-content {
    margin-left: 16px;
}

.feature-block-content h5 {
    font-size: 20px;
    margin-bottom: 0px;
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    color: #000;
}

.feature-block-content p {
    margin-bottom: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: #757575;
}

.footer {
    margin-top: 48px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: #f1f0fe;
}

.footer-block h4 {
    font-size: 22px;
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 24px;
}

.footer-block .footer-title {
    color: #7065f0;
    font-size: 26px;
    font-weight: 800;
}

.footer-block p {
    margin-bottom: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: #757575;
}

.footer-product-cate-list {
    list-style: none;
    padding-left: 0;
}

.footer-product-cate-list li {
    margin-bottom: 15px;
}

.footer-product-category-link {
    text-decoration: none;
    outline: none;
    color: #777;
    display: flex;
    align-items: center;
    gap: 4px;
}

.footer-block.ml-65 {
    margin-left: 65px;
}

.footer-copyright {
    margin-top: 16px;
    display: flex;
}

.footer-copyright p {
    color: #000;
    margin-bottom: 0;
}

.footer-copyright span {
    color: #7065F0;
    margin-left: 4px;
}

.product-main,
.cart-main {
    margin-top: 70px;
    padding: 32px 0;
}

.filter-container {
    margin-bottom: 32px;
}

.filter-container h5 {
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    color: #212529;
    margin-bottom: 21px;
    margin-bottom: 12px;
}

.filter-item {
    margin-bottom: 12px;
}

.filter-item-link {
    font-weight: 400;
    color: #4d4d4d;
}

.filter-item-link i {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 3px;
}

.filter-item-link.active i {
    border: solid 1px blue;
    color: blue;
    background-color: blue;
}

.filter-item-link.active i::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 5px;
    display: table;
    width: 5px;
    height: 9px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.product-list {
    background-color: #fff;
    background-clip: border-box;
    -webkit-box-shadow: 0 0 3px 0 #dee2e6;
    box-shadow: 0 0 3px 0 #dee2e6;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
}