/* Created by Tivotal */

/* Google Fonts(Poppins & Lato) */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.3s linear;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--grey);
  overflow-x: hidden;
  height: 100vh;
}

body.dark {
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb;
}

.br-50 {
  border-radius: 50%;
}

.btn-ssm {
  font-size: 12px;
  padding: 2px 6px;
}

input[type="color" i] {
  appearance: auto;
  inline-size: 50px;
  block-size: 27px;
  cursor: default;
  box-sizing: border-box;
  background-color: buttonface;
  color: buttontext;
  border-width: 1px;
  border-style: solid;
  border-color: buttonborder;
  border-image: initial;
  padding: 1px 2px;
}

#admin-main {
  height: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--light);
  height: 100%;
  width: 280px;
  z-index: 2000;
  font-family: var(--lato);
  transition: 0.3s ease;
  overflow-x: hidden;
}

.sidebar.hide {
  width: 60px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar .logo {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
  padding-left: 15px;
}

.sidebar .logo:hover {
  text-decoration: none;
}

.sidebar .logo i {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

.sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

.sidebar .side-menu li {
  height: 48px;
  margin-left: 6px;
  background: transparent;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

.sidebar .side-menu li.active {
  position: relative;
  background: var(--grey);
}

.sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  right: 0;
  top: -40px;
  z-index: -1;
  box-shadow: 20px 20px 0 var(--grey);
}

.sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  right: 0;
  bottom: -40px;
  z-index: -1;
  box-shadow: 20px -20px 0 var(--grey);
}

.sidebar .side-menu li a {
  height: 100%;
  width: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}

.sidebar.hide .side-menu li a {
  width: calc(78px - (4px * 2));
  transition: 0.3s ease;
}

.sidebar .side-menu li.active a {
  color: var(--blue);
}

.sidebar .side-menu.top li a:hover {
  color: var(--blue);
}

.sidebar .side-menu li a.logout {
  color: var(--red);
}

.sidebar .side-menu li a i {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

.content {
  position: relative;
  height: 100%;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}

.sidebar.hide ~ .content {
  width: calc(100% - 60px);
  left: 60px;
}

.content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: 0;
  bottom: -40px;
  box-shadow: -20px -20px 0 var(--light);
}

.content nav a {
  color: var(--dark);
}

.content nav .fa-bars {
  cursor: pointer;
  color: var(--dark);
}

.content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}

.content nav .nav-link:hover {
  color: var(--blue);
}

.content nav form {
  max-width: 400px;
  width: 400px;
  margin-right: auto;
}

.content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}

.content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}

.content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

.content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}

.content nav .switch-mode::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--blue);
  border-radius: 50%;
  transition: 0.3s ease;
}

.content nav #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}

.content nav .notification {
  font-size: 20px;
  position: relative;
}

.content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content nav .profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}

.content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
}

.content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

.content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  gap: 16px;
}

.content main .head-title .left .breadcrumb i {
  color: var(--dark);
}

.content main .head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}

.content main .head-title .left .breadcrumb li a.active {
  color: var(--blue);
  pointer-events: unset;
}

.content main .head-title .download-btn {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--blue);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
}

.content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
  margin-top: 36px;
}

.content main .box-info li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.content main .box-info li i {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content main .box-info li:nth-child(1) i {
  background: var(--light-orange);
  color: var(--orange);
}

.content main .box-info li:nth-child(2) i {
  background: var(--light-blue);
  color: var(--blue);
}

.content main .box-info li:nth-child(3) i {
  background: var(--light-yellow);
  color: var(--yellow);
}

.content main .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}

.content main .box-info li .text p {
  color: var(--dark);
}

.content main .table-data {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}

.content main .table-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}

.content main .table-data .head {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.content main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

.content main .table-data .head i {
  cursor: pointer;
}

.content main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
}

.content main .table-data .order table {
  width: 100%;
  border-collapse: collapse;
}

.content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 10px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}

.content main .table-data .order table td {
  padding: 16px 0;
}

.content main .table-data .order table td:first-child {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 6px;
}

.content main .table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.content main .table-data .order table tr:hover {
  background: var(--grey);
}

.content main .table-data .order table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}

.content main .table-data .order table tr td .status.pending {
  background: var(--orange);
}

.content main .table-data .order table tr td .status.process {
  background: var(--yellow);
}

.content main .table-data .order table tr td .status.complete {
  background: var(--blue);
}

.content main .todo {
  flex-grow: 1;
  flex-basis: 300px;
}

.content main .todo .todo-list {
  width: 100%;
}

.content main .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content main .todo .todo-list li i {
  cursor: pointer;
}

.content main .todo .todo-list li.completed {
  border-left: 10px solid var(--blue);
}

.content main .todo .todo-list li.not-completed {
  border-left: 10px solid var(--orange);
}

.content main .todo .todo-list li:last-child {
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #d9d9d9;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 5rem;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .content {
    width: calc(100% - 200px);
    left: 200px;
  }

  .content nav .nav-link {
    display: none;
  }
}

@media (max-width: 576px) {
  .content nav form .form-input input {
    display: none;
  }

  .content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }

  .content nav form.show .form-input input {
    display: block;
    width: 100%;
  }

  .content nav form.show .form-input button {
    width: 36px;
    height: 36px;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }

  .content nav form.show ~ .notification,
  .content nav form.show ~ .profile {
    display: none;
  }

  .content main .table-data .head {
    min-width: 420px;
  }

  .content main .table-data .order table {
    min-width: 420px;
  }

  .content main .table-data .todo .todo-list {
    min-width: 420px;
  }
}

/*Content*/
.table-responsive {
  margin: 30px 0;
}

.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  border-radius: 3px;
  min-width: 1000px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.table-title {
  padding-bottom: 15px;
  background: #435d7d;
  color: #fff;
  padding: 16px 30px;
  min-width: 100%;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}

.table-title h2 {
  margin: 5px 0 0;
  font-size: 16px;
}

.table-title .btn-group {
  float: right;
}

.table-title .btn {
  color: #fff;
  float: right;
  font-size: 13px;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}

.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.table-title .btn span {
  float: left;
  margin-top: 2px;
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table tr th:first-child {
  width: 40px;
}

table.table tr th:last-child {
  width: 200px;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table td:last-child i {
  opacity: 0.9;
  font-size: 18px;
  margin: 0 5px;
}

table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}

table.table td a:hover {
  color: #2196f3;
}

table.table td a.edit {
  color: #ffc107;
}

table.table td a.delete {
  color: #f44336;
}

table.table td i {
  font-size: 18px;
}

/**/
table.table {
  font-size: 13px;
}

table.table th {
  font-size: 13px;
}

/**/
table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.pagination {
  float: right;
  margin: 0 0 5px;
}

.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}

.pagination li a:hover {
  color: #666;
}

.pagination li.active a,
.pagination li.active a.page-link {
  background: #03a9f4;
}

.pagination li.active a:hover {
  background: #0397d6;
}

.pagination li.disabled i {
  color: #ccc;
}

.pagination li i {
  font-size: 15px;
  padding-top: 6px;
}

.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}

/* Custom checkbox */
.custom-checkbox {
  position: relative;
}

.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  margin: 5px 0 0 3px;
  z-index: 9;
}

.custom-checkbox label:before {
  width: 18px;
  height: 18px;
}

.custom-checkbox label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  background: white;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-sizing: border-box;
  z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: inherit;
  z-index: 3;
  transform: rotateZ(45deg);
}

.custom-checkbox input[type="checkbox"]:checked + label:before {
  border-color: #03a9f4;
  background: #03a9f4;
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
  border-color: #fff;
}

.custom-checkbox input[type="checkbox"]:disabled + label:before {
  color: #b8b8b8;
  cursor: auto;
  box-shadow: none;
  background: #ddd;
}

.admin-account-pwd {
  position: relative;
}

.admin-account-pwd .showhide-pwd-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.showhide-pwd-icon i {
  display: none;
  color: #6c757d;
}

.showhide-pwd-icon .open {
  display: inline-block;
}

.product-config-detail-img {
  width: 350px;
}

.modal-row-title {
  padding: 4px 30px;
  font-weight: 500;
  background: #f8f9fa;
  -webkit-box-shadow: inset 0 -1px 0 #edeeef;
  box-shadow: inset 0 -1px 0 #edeeef;
  font-size: 16px;
  line-height: 24px;
}

.product-config-modal .modal-row-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 50px;
  margin-bottom: 12px;
}

.product-config-modal .modal-row-list li {
  padding: 2px 0;
  margin-bottom: 4px;
  width: 50%;
  color: #444b52;
}

.product-config-modal .modal-row-table {
  border-collapse: collapse;
  width: calc(100% - 60px);
  margin: 0 auto;
  margin-bottom: 20px;
}

.product-config-modal .modal-row-table tr:not(:first-child) {
  border-top: 1px solid #f9ecec;
}

.product-config-modal .modal-row-table td {
  color: #495057;
  padding: 8px 0;
  vertical-align: baseline;
  border: none;
}

.product-config-modal .modal-row-table td:first-child {
  color: #99a2aa;
  width: 200px;
  padding: 8px 0;
}

.control-form__upload {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.upload-img-btn,
.control-form___form-btn {
  display: block;
  outline: none;
  border: none;
  font-size: 14px;
  color: #fff;
  background-color: #3095fa;
  padding: 8px 14px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.upload-img-btn:hover,
.control-form___form-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.upload-box {
  width: 150px;
  height: 150px;
  border: 1px dashed #dbdbdb;
  position: relative;
  padding: 5px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.upload-box .btn-remove-img {
  position: absolute;
  right: -8px;
  top: -8px;
  background-color: #000;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.upload-box .btn-remove-img i {
  padding: 0;
  font-size: 14px;
}

.upload-box .upload-img {
  display: none;
}

.upload-box.active {
  border-style: solid;
}

.upload-box.active .upload-img {
  display: inline;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.upload-box.active .upload-box-content {
  display: none;
}

.upload-box-content {
  width: 100%;
  height: 100%;
  display: none;
}

.upload-box-content i {
  font-size: 95px;
  color: #3095fa;
}

.btn-upload-img {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.upload-box.hide-image .upload-box-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-box.hide-image .preview-img {
  display: none;
}
